<h2> Query your Dagrs </h2>


<%= form_tag(generate_path, method: "post") do %>
  <%= label_tag(:file_name, "file name") %>
  <%= text_field_tag(:file_name) %>
  
  <%= label_tag(:storage_path, "storage path") %>
  <%= text_field_tag(:storage_path) %>
  
  <%= label_tag(:name, "name") %>
  <%= text_field_tag(:name) %>
  
  <%= label_tag(:keywords, "keywords") %>
  <%= text_field_tag(:keywords) %>
  
  <%= label_tag(:file_size, "file_size") %>
  <%= text_field_tag(:file_size) %>
  
  <%= label_tag(:author, "author") %>
  <%= text_field_tag(:author) %>
  
  <%= label_tag(:file_type, "file_type") %>
  <%= text_field_tag(:file_type) %>
  
  <%= label_tag(:check, "check if all keywords must match") %>
  <%= check_box_tag "all_keywords", "checked" %>
  
  <%= submit_tag("Meta Data Query") %>
<% end %>
<p></p>

select one or both
<%= form_tag(generate_path, method: "post") do %>
	<%= label_tag(:check, "find orphans") %>
	<%= check_box_tag "find_orphans", "checked" %>
	
	<%= label_tag(:check, "find sterile") %>
	<%= check_box_tag "find_sterile", "checked" %>
	
	<%= submit_tag("Orphan Sterile Query") %>
<% end %>



<p></p>
Search for dagrs through a time range <br>
time must be in format year-month-day hour:minute:second <br>
example: 2017-1-25 12:00:01 <br>
defult is to find when you added the dagr, check find_created <br>
to find time range when author added the dagr
<%= form_tag(generate_path, method: "post") do %>
	<%= label_tag(:start_time, "start_time") %>
	<%= text_field_tag :start %>
	
	<%= label_tag(:end_time, "end_time") %>
	<%= text_field_tag :end %>
	
	<%= label_tag(:created, "find when created") %>
	<%= check_box_tag "find_created", "checked" %>
	
	<%= submit_tag("Time Range Query") %>
<% end %>

<% if @dagrs %>
	<%= render 'layouts/dagrs' %>
<% end %> 





















