<h2> Enter Dagr Manualy </h2>
<% if flash[:danger] %>
		<p class = "flash"><%= flash[:danger] %></p>
<% end %>

<p> name, and keywords can be blank, all other fields are reqired
   file name must be in format name.ext 
   when giving a url to html must end in .html, all paths
   must be in format /dir1/dir2 ex: /home/bob/docs </p>
<%= form_tag(create_dagr_file_path, method: "post") do %>
  <%= label_tag(:file_name, "file name") %>
  <%= text_field_tag(:file_name) %>
  
  <%= label_tag(:storage_path, "storage path") %>
  <%= text_field_tag(:storage_path) %>
  
  <%= label_tag(:name, "name") %>
  <%= text_field_tag(:name) %>
  
  <%= label_tag(:keywords, "keywords") %>
  <%= text_field_tag(:keywords) %>
  
  <%= label_tag(:file_size, "file_size") %>
  <%= text_field_tag(:file_size) %>
  
  
  
  <%= submit_tag("Add Dagr") %>
<% end %>
<!--
<p></p>
add a url as a dagr
<%= form_tag(create_dagr_url_path, method: "post") do %>
  <%= label_tag(:url, "url") %>
  <%= text_field_tag(:url) %>
 
  <%= submit_tag("Add Dagr") %>
<% end %>-->
