<%= form_tag alter_dagr_path, method: :post %>
<p> Select Dagrs and preform operations on them </p>

<%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name") %>
<%= submit_tag "add to category" %>

<table border = "1">
	<tr>
		<th>Name</th>
		<th>file_name</th>
		<th>storage_path</th>
		<th>size(bytes)</th>
		<th>author</th>
		<th>keywords</th>
		<th></th>
	 <tr>
	 
	 <% @dagrs.each do |dagr| %>
	 <% name = dagr["name"] %> 
	 <% name = dagr["file_name"] if name == nil %>
	 <% keywords = dagr["keywords"] %>
	 
	<tr>
	<td><%= link_to name, dagr_path(dagr["guid"]) %></td>
	<td><%= "#{dagr["file_name"]}" %></td>
	<td><%= dagr["storage_path"] %></td>
	<td><%= dagr["file_size"] %></td>
	<td><%= dagr["creator_name"] %></td>
	<td><%= keywords %></td>
	<td><%= check_box_tag dagr["guid"], "checked" %></td>
	</tr>
	<% end %>
</table>

	
	