<%= form_tag alter_dagr_path, method: :post %>

<% if @display_removal %>
	removal good
<% end %>

<%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name") %>
<%= submit_tag "add to category" %>
<%= submit_tag "remove from category" %>
<%= submit_tag "delete dagr!" %>
<%= submit_tag "full delete!" %>
<%= label_tag :parent, "parents guid" %>
<%= text_field_tag :parents_guid %>
<%= submit_tag "add children" %>


<% if @display_removal %>
	<%= hidden_field_tag 'hidden', @dagr_guid %>
	<% if @display_removal == "child" %>
		<%= submit_tag "remove children" %>
	<% elsif @display_removal == "parent" %>
		<%= submit_tag "remove parents" %>
	<% end %>
<% else %>
	<button id="check_all" type="button">Select All</button>
<% end %>
<table border = "1">
	<tr>
		<th></th>
		<th>Name</th>
		<th>file_name</th>
		<th>storage_path</th>
		<th>size(bytes)</th>
		<th>author</th>
		<th>keywords</th>
	 <tr>
	 
	 <% @dagrs.each do |dagr| %>
	 <% name = dagr["name"] %> 
	 <% name = dagr["file_name"] if name == nil %>
	 <% keywords = dagr["keywords"] %>
	 
	<tr>

	<td><%= check_box_tag dagr["guid"], "checked", @all_checked, :class => "dagr_check_box" %></td>
	<td><%= link_to name, dagr_path(dagr["guid"]) %></td>
	
	<% if true #dagr["file_name"] =~ /\.html\z/  and dagr["storage_path"] =~ /\Ahttp/%>
		<td><%= link_to dagr["file_name"], dagr["storage_path"] + "/" + dagr["file_name"] %></td>
	<% else %>
		<td><%= "#{dagr["file_name"]}" %></td>
	<% end %>
	
	<td><%= dagr["storage_path"] %></td>
	<td><%= dagr["file_size"] %></td>
	<td><%= dagr["creator_name"] %></td>
	<td><%= keywords %></td>
	
	
	</tr>
	<% end %>
</table>

	
	