<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ol class="navbar">
        <li><%= link_to "Home", root_path %></li>
		<li><%= link_to "signup", '/signup' %></li>
		<li><%= link_to "login", '/login' %></li>
		<li><%= link_to "Logout", logout_path, method: "post" %></li>
        <li><%= link_to "Add dagrs", '/add_dagr' %></li>
		<li><%= link_to "Show all dagrs", '/all_dagrs' %></li>
		<li><%= link_to "Category Manager", '/category/index' %></li>
		<li><%= link_to "Query", query_page_path  %></li>
    </ol>
  </div>
</nav>
