<nav class="navbar navbar-default">
 
    <ol class="navbar">
        <li><%= link_to "Home", root_path %></li>
        <%if !logged_in? %>
			<li><%= link_to "Signup", '/signup' %></li>
			<li><%= link_to "Login", '/login' %></li>
		<%end%>
		<%if logged_in? %>
			<li><%= link_to "Logout", logout_path, method: "post" %></li>
        	<li><%= link_to "Add DAGRS", '/add_dagr' %></li>
			<li><%= link_to "Show all DAGRS", '/all_dagrs' %></li>
			<li><%= link_to "Category Manager", '/category/index' %></li>
			<li><%= link_to "Query", query_page_path  %></li>
		<%end%>
    </ol>
  
</nav>
