<!DOCTYPE html>
<html>
  <head>
    <style>
body {background-color: powderblue;}
title   {color: blue;}
h2    {color: red;}
div.ex1 {
    width: 700px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
</style>
    <title>MediaTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="ex1" data-no-turbolink>
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
  </body>
</html>